.subjectHeader {
	color: #11438f;
}

#scoreBoard {
	border: 2px solid #b82204;
}

#scoreBoard th{
	font-weight: bold;
	color: #e07863;
}

#scoreBoard td {
	text-align: center;
}

#teamRoster {
	list-style-type: square;
}

.hyperLink {
	text-decoration: underline;
	trasition: background-color 0.3s;
}

.hyperLink:hover {
	background-color: #3498db;
	text-decoration: none;
}