.subjectHeader {
	color: #11438f;
}

#scoreBoard {
	border: 2px solid #b82204;
}

#scoreBoard th{
	font-weight: bold;
	color: #e07863;
}

#scoreBoard td {
	text-align: center;
}

#teamRoster {
	list-style-type: square;
}

.hyperLink {
	text-decoration: underline;
	trasition: background-color 0.3s;
}

.hyperLink:hover {
	background-color: #3498db;
	text-decoration: none;
}

blockquote {
	background-color: #2c3e50;
	color: #ecf0f1;
}

#teamRoster > li:first-child {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left center;
}

#teamRoster > li:last-child {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left center;
}

#teamRoster img:first-child{
	display: none;
}

#teamRoster img:last-child{
	display: none;
}

#checkbox-grid {
	list-style-type: none;
}
